@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baskervville+SC&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
.starter{
    color: white;
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 23px;
     font-family: "Baskervville SC", serif;
}
.starter h1{
    text-align: center;
}
.starter p{
      font-family: "Raleway", sans-serif;
}
.starter button{
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    background-color: #DADD98;
    border: 1px solid white;
    margin-bottom: 20px;
}
.starter button:hover{
    background-color: #5E5E5E;
    color: white;
}
.categry {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  width: 100%;
  max-width: 300px; /* Adjust the max-width as needed */
  margin-bottom: 23px;

}

.categry:focus {
  outline: none;
  border-color: #007bff; /* Change the border color on focus */
}

/* Make the select element responsive */
@media only screen and (max-width: 600px) {
  .categry {
    max-width: 100%; /* Adjust for smaller screens */
  }
}
/* Responsive design */
@media only screen and (max-width: 450px) {
.starter{
    width: 90%;
}
}